.trending-container{
    margin-left: 6vw;
    background-color: black;
    /* border:1px solid red; */
    margin-top: 0px;
}
.trending-movie-list{
    display: flex;
    flex-direction: column;
}
.movie-list{
    display: flex;
    overflow: auto;
}
.movie-poster{
    margin-right: 12px;
    width:130px;
    height:260;
}
.movie-title{
    color:white;
    font-size: 15px;
    margin-bottom: 0px;
}
.trending-head{
    color:white;
    padding: 5px 0px 10px 10px;
    /* border: 1px solid white; */
    text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0px;
}